<h1 style="color:#008B8B;font-family:arial;">Hi <%=@the_user.username%></h1>

<style>
  body {
    padding-top : 20px;
    padding-bottom : 20px;
    padding-left : 40px;
    padding-right : 40px;
    background-color: #faeee7;
  
  }

</style>
<dl>
  <dt>ID</dt>
  <dd><%= @the_user.id%></dd>
  <dt>Edit user</dt>
  <dd>
  
<form>
  <label for="eowyn"></label>
  <input id="eowyn" placeholder=<%= @the_user.username%> value="<%= @the_user.username%>">
  <button>Update user</button>
</form>
</dd>
</dl>

<h2>Items added(<%= @the_user.own_items.count%>)</h2>

<table width="80%"; border="1"; style="color:#4682B4;font-family:arial">
  <tr>
    <th>Image</th>
    <th>Name</th>
    <th>Quantity</th>
    <th>Added by</th>
    <th>Posted</th>
    <th></th>
  </tr>


  <%@the_user.own_items.each do|an_item|%>

   <tr>
    <td>
    <img src="<%=an_item.photo_url%>"></td>
    <td>
    <%=an_item.name%>
    
    </td>
    <td><%=an_item.quantity%></td>
    <td><%=an_item.poster.username%></td>
    <%#=a_photo.poster.username%>
    <%#=User.where({:id=>a_photo.owner_id}).at(0).username%>
    <td><%=an_item.created_at%></td>
    <td>Show details</td>
  </tr>
  <%end%>
</table>
